<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StudentsAndTeachers</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


</head>
<body id="body" >

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SaT</a>
        <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarText" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="place">
                <li class="nav-item" th:each="navElement:${navElements.elements}">
                    <a class="nav-link active" aria-current="page" th:href="${navElement.key}"
                       th:text="${navElement.value}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="center-items">
    <h1 class="display-2 " style="text-align: center"> Меню за класовете</h1>
<p style="text-align: center">
    От тази страница може да създавате и изтривате класове.<br>
    Всички създадени класове ще се визуализират в таблица по-долу.<br>
    Ако искате да създадете клас първо изберете бутона "Добави клас".<br>
    Въведете данните в полетата и изпратете формата.<br> Ако искате да изтриете
    клас изберете бутона "Изтрий".
</p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGroupModal">
        Добави клас
    </button>

</div>

<!-- Modal -->
<div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true"
     style="color:black">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addGroupModalLabel">Форма за добавяне на клас</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="http://localhost:8080/groupsMenu" method="post" >
            <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">1-12</span>
                        <input type="number" th:field="*{newGroup.grade}" class="form-control myInput"
                               placeholder="Клас" aria-label="Grade" aria-describedby="basic-addon1" required min="1">
                        <span class="input-group-text mySpan" id="basic-addon2">🔤</span>
                        <input type="text" th:field="*{newGroup.letter}" class="form-control "
                               placeholder="Буква" aria-label="Letter" aria-describedby="basic-addon2" size="1" required>

                    </div>
                    <div class="form-group" >
                        <label for="select1">Избери класен ръководител</label>

                        <select id="select1" th:field="*{newGroup.teacher}" >
                            <option th:each="teacher:${teachers}"  th:value="*{teacher.id}"
                                    th:text="*{teacher.user.firstName+' '+teacher.user.lastName}"></option>

                        </select>
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                <button type="submit" class="btn btn-primary">Изпрати</button>
            </div>
            </form>
        </div>
    </div>
</div>

<table class="table" style="color:whitesmoke;width: 70%;margin-left: 15%" th:unless="${#lists.isEmpty(groups)}">
    <thead>
        <tr>
            <th scope="col" >Идентификационен номер</th>
            <th scope="col">Клас</th>
            <th scope="col">Буква</th>
            <th scope="col">Изтрий</th>
        </tr>
    </thead>
    <tbody>
        <tr  th:each="group:${groups}">
            <td th:text="${group.id}"></td>
            <td th:text="${group.grade}"></td>
            <td th:text="${group.letter}"></td>
            <td> <form method="post" th:action="@{/groupsMenu/delete/{id}(id=${group.id})}">
                <button type="submit" class="btn btn-danger"> Delete </button></form></td>
        </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>